:root {
  --main-color: #51b0cd;
  --main-transition: 0.5s;
}

* {
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start Setting Box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  background-color: #fff;
  min-height: 100vh;
  z-index: 979;
  border: 1px solid #eee;
  transition: var(--main-transition);
}

.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.setting-box .toggle-setting i {
  width: 30px;
  padding: 8px 0;
}

.setting-box .option-box {
  padding: 10px;
  background-color: #eee;
  margin: 10px;
  text-align: center;
  border-radius: 6px;
}
.setting-box .option-box h4 {
  color: #666;
  margin: 0;
  font-size: 14px;
}
.setting-box .option-box .colors {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.setting-box .option-box .colors li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.5;
  display: inline-block;
  cursor: pointer;
  border: 3px solid #eee;
}

.setting-box .option-box .colors li:first-child {
  background-color: #51b0cd;
}

.setting-box .option-box .colors li:nth-child(2) {
  background-color: #f06406;
}
.setting-box .option-box .colors li:nth-child(3) {
  background-color: #009688;
}
.setting-box .option-box .colors li:nth-child(4) {
  background-color: #e91e63;
}
.setting-box .option-box .colors li:nth-child(5) {
  background-color: #03a9f4;
}
.setting-box .option-box .colors li.active {
  opacity: 1;
  border-color: #fff;
  transition: 0.3s;
}

.setting-box .option-box .on,
.setting-box .option-box .off {
  width: 50px;
  background-color: var(--main-color);
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .option-box span.active {
  opacity: 1;
}

.setting-box .reset-options {
  border: none;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  width: 178px;
  cursor: pointer;
}
/* End Setting Box */

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  width: 50px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 988;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}

.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-bullets .bullet .tooltip:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

/* End Nav Bullets */

/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../Images/03.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: #000000a6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.landing-page .container {
  position: relative;
  z-index: 999;
}

.landing-page .header-area {
  color: #fff;
  position: relative;
  z-index: 2;
  display: flex;
  padding: 10px;
}

.header-area .logo {
  position: relative;
  width: 200px;
}

.header-area .logo img {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: -60px;
}

.header-area .links-container {
  width: 100%;
  text-align: right;
}

.header-area .links {
  list-style: none;
  text-align: right;
  padding-left: 0;
  /* font-size: 15px; */
}

.header-area .links li {
  display: inline-block;
  margin-right: 20px;
}

.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: var(--main-transition);
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}

.header-area .toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}

.header-area .toggle-menu.menu-active:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}

.header-area .toggle-menu:focus {
  outline: none;
}

.header-area .toggle-menu span {
  display: block;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: #fff;
}

.intro-text {
  width: 95%;
  color: #fff;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro-text h1 {
  font-size: 35px;
  margin: 0 0 10px 0;
}
.intro-text h1 span {
  color: var(--main-color);
  font-size: 45px;
}

.intro-text p {
  margin: 0;
  line-height: 1.7;
  font-size: 20px;
  color: #ffffff96;
}

@media (max-width: 575px) {
  .intro-text h1 {
    font-size: 30px;
  }

  .intro-text h1 span {
    font-size: 36px;
  }

  .intro-text p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }
  .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}

/* End Landing Page */

/* Start About Us */
.about-us {
  padding: 50px 0;
  display: flex;
}

.about-us .info-box {
  flex: 1;
  padding: 30px;
}

@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }

  .about-us .info-box {
    padding: 10px;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #555050;
  margin: 0;
}

.about-us .img-box {
  flex: 1;
  text-align: center;
}
.about-us .img-box img {
  width: 300px;
}

/* End About Us */

/* Start Our Skills */
.skills {
  padding: 50px 0;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
}
.skills .skill-box {
  display: flex;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
}

@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  width: 140px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
}

/* End Our Skills */

/* Start Our Gallery */
.gallery {
  padding: 50px 0;
}
.gallery h2 {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
}
.gallery .img-box {
  text-align: center;
}
.gallery .img-box img {
  width: 200px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0 15px 15px;
  z-index: 1001;
}

.popup-box img {
  max-width: 100%;
}

.heading {
  text-align: center;
  font-size: 25px;
  margin: 10px 0 20px;
  color: var(--main-color);
}

.close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  right: -20px;
  top: -20px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  /* border: 1px solid; */
}
/* End Our Gallery */

/* Start Time Line */
.timeline {
  background-color: #eee;
  padding: 50px 0;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
}

@media (max-width: 767px) {
  .timeline .timeline-content:before {
    display: none;
  }
}

.timeline .timeline-content .year {
  background-color: var(--main-color);
  width: 50px;
  margin: 20px auto;
  padding: 2px 5px;
  text-align: center;
  color: #fff;
  position: relative;
  font-weight: bold;
  z-index: 2;
  border-radius: 4px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .left:before {
  right: -35px;
}

.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .right:before {
  left: -35px;
}

.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 20px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-top: 40px;
  }

  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    transform: translateX(-50%);
    top: -35px;
    right: 50%;
    left: 50%;
  }
}

.timeline .timeline-content .content {
  background-color: #fff;
  padding: 20px;
}
.timeline .timeline-content .content h3 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #555050;
  line-height: 1.6;
  margin: 0;
}

.clear-fix {
  clear: both;
}

.timeline .timeline-content .left .content:before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}

.timeline .timeline-content .right .content:before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}

.timeline .timeline-content .left .content:before,
.timeline .timeline-content .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0px;
  position: absolute;
  top: 20px;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    border-color: transparent transparent #fff transparent;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
  }
}

/* End Time Line */
/* Start Features */
.features {
  padding: 80px 0;
}
.features h2 {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 60px;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}
.features .feat-box img {
  width: 96px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .feat-box h4:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -22px;
  left: 50%;
  margin-left: -20px;
}

.features .feat-box p {
  color: #595959;
  line-height: 1.7;
  width: 80%;
  margin: 0 auto;
}

/* End Features */
/* Start testimonials */
.testimonials {
  padding: 80px 0;
  position: relative;
}

.testimonials:before,
.testimonials:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

.testimonials:before {
  left: 0;
  background-color: var(--main-color);
}
.testimonials:after {
  right: 0;
  background-color: #333;
}

.testimonials .container h2 {
  font-weight: bold;
  text-align: left;
  color: #fff;
  margin: 0 0 30px;
  font-size: 30px;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .testimonials .container h2 {
    text-align: center;
  }
}

.testimonials .ts-box {
  position: relative;
  z-index: 2;
  background-color: #fff;
  width: calc(98% / 3);
  float: left;
  padding: 20px;
}

.testimonials .ts-box:not(:nth-child(4)) {
  margin-right: 1%;
}

@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    margin-bottom: 10px;
    float: none;
  }
}

.testimonials .ts-box p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #707070;
  font-size: 15px;
  font-style: inherit;
}

.testimonials .ts-box .person-info {
  overflow: hidden;
  text-align: center;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}

.testimonials .ts-box .person-info img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #eee;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info img {
    float: none;
    margin-right: 0;
  }
}

.testimonials .ts-box .person-info img:hover {
  transform: scale(1.05);
}

.testimonials .ts-box .person-info h4 {
  margin: 14px 0 10px 100px;
}
.testimonials .ts-box .person-info p {
  margin: 0 0 0 100px;
  color: #707070;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info h4,
  .testimonials .ts-box .person-info p {
    margin-left: 0;
  }
}

/* End testimonials */

/* Start Contact Us */
.contact {
  min-height: 600px;
  background-image: url("/Images/contact.png");
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.contact .container {
  position: relative;
  z-index: 2;
}

.contact .container h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
  margin: 0 0 60px;
}

.contact form {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.contact form .left {
  float: left;
  width: 49%;
}

.contact form .right {
  float: right;
  width: 49%;
}

@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}

.contact form input {
  height: 40px;
}

.contact form textarea {
  height: 150px;
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  background-color: #dadada30;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
  background-color: hsla(0, 0%, 85%, 0.4);
}

.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  /* opacity: 0; */
  color: transparent;
  transition: 0.2s;
}
.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  /* opacity: 0; */
  color: transparent;
  transition: 0.2s;
}
.contact form input:not([type="submit"]):focus::-ms-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  /* opacity: 0; */
  color: transparent;
  transition: 0.2s;
}

.contact form input[type="submit"] {
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

/* End Contact Us */

/* Start Footer */
.footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}

/* End Footer */

/* Start Grid System */
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
